<?xml version="1.0"?>
<connectionStrings>
  <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UIUPI1L\SQLEXPRESS;initial catalog=2018_2C_TP;persist security info=True;user id=tp;password=contrasenia123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>