
@{
    ViewBag.Title = "_UsuarioLayout";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


@RenderBody()
<div class="jumbotron">
    <h1>Tres Empanadas</h1>
    <p class="lead">Las mejores empa de tu vieja.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hacé ya tu pedido!</h2>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="https://asp.net" class="btn btn-primary btn-lg">Hacer pedido &raquo;</a>
            <a href="https://asp.net" class="btn btn-primary btn-lg">Ver pedidos &raquo;</a>
        </div>
    </div>
</div>

