<div class="jumbotron">
    <h1 class="display-4">Error</h1>
    <p class="lead">Ha ocurrido un error desconocido :(</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Home" role="button">Continuar</a>
     </p>
</div>

