@model TresEmpanadas.Models.DetailError

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">@Model.Title</h1>
    <p class="lead">@Model.Body</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Home/Index" role="button">Continuar</a>
        @if (@Model.Link != "")
        {
            <a class="btn btn-primary btn-lg" href="@Model.Link" role="button">Continuar</a>
        }
    </p>
</div>
